body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.home {
    display: block;
    width: 100px;
    margin: auto;
}

ul {
    display: table;
    margin: 0 auto;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}